/*!
 * 产品CSS，项目CSS禁止修改或添加该CSS内容，否则被覆盖后果自负
**/

@font-face {
url('Roboto-Regular-webfont.woff') format('woff'), font-weight: normal;
    font-family: 'Roboto';
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* material-icons */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

/* button */
.md-button:not([disabled]).f2c-icon-button:hover {
    background: rgba(255, 255, 255, .2);
}

/*!
 * 产品CSS，项目CSS禁止修改或添加该CSS内容，否则被覆盖后果自负
**/
