<div ng-controller="NotificationCtrl">
    <md-button class="md-raised" ng-click="show()">Notification.show</md-button>
    <md-button class="md-raised md-primary" ng-click="info()">Notification.info</md-button>
    <md-button class="md-raised md-success" ng-click="success()">Notification.success</md-button>
    <md-button class="md-raised md-warn" ng-click="warn()">Notification.warn</md-button>
    <md-button class="md-raised md-danger" ng-click="danger()">Notification.danger</md-button>
    <md-button class="md-raised md-danger" ng-click="open()">open</md-button>
</div>
