<div layout="column" layout-fill ng-controller="WizardController" cg-busy="{promise:loadingLayer,minDuration:500}">
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>Stepper</div>
            <md-button class="md-raised" ng-click="open()" ng-if="!show">
                <md-icon>open_in_browser</md-icon>
                打开向导
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex="auto">
        <div wizard="wizard" ng-if="show">
            <wizard-step id="1">
                aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>
                aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>
                aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>
                aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>
                aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>
                aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>
                aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>aaa<br>
            </wizard-step>
            <wizard-step id="2">
                2222
            </wizard-step>
            <wizard-step id="3">
                异步验证
            </wizard-step>
            <wizard-step id="4">
                4444
            </wizard-step>
        </div>
    </md-content>
</div>
