<div layout-fill ng-controller="TableCtrl" class="content-backdrop" ng-cloak>
    <div cg-busy="{promise:loadingLayer,minDuration:500}" layout="column" layout-fill>
        <md-toolbar class="content-toolbar">
            <div class="md-toolbar-tools">
                <div>表格</div>
                <md-button class="md-primary" ng-click="create()">
                    <md-icon>add_circle_outline</md-icon>
                    创建
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row" flex>
            <div class="md-padding" layout="column" flex="100">
                <filter-tools conditions="conditions" results="filters" search="'true'" execute="list()">
                    <select-columns columns="columns"></select-columns>
                    <div class="filter-item">
                        <md-button class="md-icon-button md-whiteframe-1dp" ng-click="list()">
                            <md-tooltip md-delay="300">刷新</md-tooltip>
                            <md-icon>refresh</md-icon>
                        </md-button>
                    </div>
                    <div class="filter-item">
                        <md-button class="md-icon-button md-whiteframe-1dp" ng-click="help()">
                            <md-tooltip md-delay="300">帮助</md-tooltip>
                            <md-icon>help</md-icon>
                        </md-button>
                    </div>
                </filter-tools>

                <div flex layout="column" layout-fill>
                    <table dynamic-table columns="columns" execute="list({sql: sql})">
                        <tbody>
                        <tr ng-repeat="item in items" ng-class="{'tr-selected':selected === item.$$hashKey}">
                            <td>
                                <md-checkbox md-no-ink aria-label="是否启用" ng-model="item.enable" class="md-primary"></md-checkbox>
                            </td>
                            <td>
                                <a href="" class="md-primary" ng-click="showDetail(item)">{{item.name}}</a>
                            </td>
                            <td>{{item.created | date:'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{item.source}}</td>
                            <td>{{item.email}}</td>
                            <td>
                                <!--设置名成加op="'其他名称'"，默认的名称为"操作"；设置宽度加width="3 或其他整数"，默认3-->
                                <table-menus disabled="item.name === 'demo2'">
                                    <md-menu-item>
                                        <md-button ng-click="openDialog(item)">
                                            <md-icon>edit</md-icon>
                                            弹窗编辑
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="edit(item)">
                                            <md-icon>edit</md-icon>
                                            侧边栏编辑
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="item.name !== 'demo3'">
                                        <md-button ng-click="">
                                            <md-icon>content_copy</md-icon>
                                            复制
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                        <md-button ng-click="">
                                            <md-icon>delete</md-icon>
                                            删除
                                        </md-button>
                                    </md-menu-item>
                                </table-menus>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table-pagination pagination="pagination"></table-pagination>
                </div>

            </div>
            <!--必须定义$scope.infoUrl,width不设默认400px-->
            <info-form></info-form>
        </div>
    </div>
    <!--必须定义$scope.formUrl,width不设默认70%-->
    <side-form width="80%"></side-form>
</div>


