<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular下载</title>
</head>
<body>

手动下载资源
<br>
<a href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.css">angular-material.min.css</a><br>
<a href="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js">angular-animate.min.js</a><br>
<a href="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js">angular-aria.min.js</a><br>
<a href="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js">angular-messages.min.js</a><br>
<a href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js">angular-material.min.js</a><br>
<a href="https://code.jquery.com/jquery-3.3.1.min.js">jquery-3.3.1.min.js</a><br>
<a href="https://unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js">angular-ui-router.min.js</a><br>

</body>
</html>