<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16">
    <title>Demo</title>
    <!--必要CSS-->
    <link rel="stylesheet" th:href="@{'web-public/external/angular-material/angular-material.min.css'}">
    <link rel="stylesheet" th:href="@{'web-public/external/angular-busy/angular-busy.min.css'}">
    <link rel="stylesheet" th:href="@{'web-public/external/angular/lf-ng-md-file-input.min.css'}">
    <link rel="stylesheet" th:href="@{'web-public/external/font-awesome/web-fonts-with-css/css/fontawesome-all.css'}">
    <link rel="stylesheet" th:href="@{'web-public/external/material-icons/material-icons.css'}">
    <link rel="stylesheet" th:href="@{'web-public/fit2cloud/css/fit2cloud-style.css?t='+${timestamp}}">

    <!--可选CSS-->

    <!--项目CSS-->
    <link rel="stylesheet" th:href="@{'project/css/project-style.css?t='+${timestamp}}">
</head>

<body ng-app="ProjectApp" ng-cloak>
<div layout="column" layout-fill ng-controller="DemoCtrl">
    <section layout="row" flex>
        <!--test="menus" -->
        <module layout="row" dev="module"></module>
        <md-content layout="column" flex ui-view=""></md-content>
    </section>
</div>

<!--必要JS-->
<script th:src="@{'web-public/external/jquery/jquery.min.js'}"></script>
<script th:src="@{'web-public/external/moment/moment.min.js'}"></script>
<script th:src="@{'web-public/external/angular/angular.min.js'}"></script>
<script th:src="@{'web-public/external/angular/angular-ui-router.min.js'}"></script>
<script th:src="@{'web-public/external/angular/angular-animate.min.js'}"></script>
<script th:src="@{'web-public/external/angular/angular-aria.min.js'}"></script>
<script th:src="@{'web-public/external/angular/angular-messages.min.js'}"></script>
<script th:src="@{'web-public/external/angular-busy/angular-busy.min.js'}"></script>
<script th:src="@{'web-public/external/angular/lf-ng-md-file-input.min.js'}"></script>
<script th:src="@{'web-public/external/angular-material/angular-material.min.js'}"></script>
<script th:src="@{'web-public/fit2cloud/js/fit2cloud-common.js'}"></script>
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    window.appversion = [[${timestamp}]];
    /*]]>*/
</script>

<!--可选JS-->
<script th:src="@{'web-public/external/echarts/echarts.min.js'}"></script>
<script th:src="@{'web-public/external/echarts/fit2cloud-echarts-theme.js?t='+${timestamp}}"></script>

<!--项目JS-->
<script th:src="@{'project/js/app.js'}"></script>

</body>
</html>
