<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16">
    <title>FIT2CLOUD CMP</title>

    <link rel="stylesheet" th:href="@{'library/external/angular-material/angular-material.min.css'}">
    <link rel="stylesheet" th:href="@{'library/external/angular-material/md-data-table.min.css'}">
    <link rel="stylesheet" th:href="@{'library/external/font-awesome/web-fonts-with-css/css/fontawesome-all.css'}">
    <link rel="stylesheet" th:href="@{'library/external/material-icons/material-icons.css'}">
    <link rel="stylesheet" th:href="@{'library/fit2cloud/css/fit2cloud-style.css?t='+${timestamp}}">
</head>

<body ng-app="MenuApp" ng-cloak>
<div layout="column" layout-fill ng-controller="MenuCtrl">
    <md-toolbar class="md-whiteframe-2dp">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button f2c-icon-button" ng-click="toggleMenu()">
                <i class="material-icons md-24 md-light">menu</i>
            </md-button>

            <h2 flex md-truncate>FIT2CLOUD CMP</h2>

            <md-button class="md-icon-button f2c-icon-button">
                <i class="material-icons md-24 md-light">person</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-content layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="menu">
            <md-list>
                <module-menu ng-repeat="module in modules" module="module" toggle-menu="toggleMenu()"></module-menu>
            </md-list>
        </md-sidenav>
        <iframe id="frame" flex class="f2c-frame" src=""></iframe>
    </md-content>
</div>

<script th:src="@{'library/external/jquery/jquery.min.js'}"></script>
<script th:src="@{'library/external/angular/angular.min.js'}"></script>
<script th:src="@{'library/external/angular/angular-animate.min.js'}"></script>
<script th:src="@{'library/external/angular/angular-aria.min.js'}"></script>
<script th:src="@{'library/external/angular/angular-messages.min.js'}"></script>
<script th:src="@{'library/external/angular-material/angular-material.min.js'}"></script>
<script th:src="@{'library/external/angular-material/md-data-table.min.js'}"></script>
<script th:src="@{'library/fit2cloud/js/menu.js?t='+${timestamp}}"></script>
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    window.appversion = [[${timestamp}]];
    /*]]>*/
</script>

</body>
</html>
